{{input type="text" placeholder="Book title" value=title}}
<br>
{{input type="text" placeholder="Author first name" value=authorFirstName}}
<br>
{{input type="text" placeholder="Author last name" value=authorLastName}}
<br>
<button {{action 'create'}}>Crear</button>
