<h1>Lista de lectura</h1>

<ul>
  {{#each model as |book index|}}
    <li>{{book-details book=book}} - {{#link-to 'book' index}}detalles{{/link-to}}</li>
  {{/each}}
</ul>

<hr>

{{create-book create="createBook"}}

{{outlet}}
