<h1>Lista de lectura</h1>

<ul>
  {{#each model as |book index|}}
    <li><strong>{{book.title}}</strong> - {{book.author}} - {{#link-to 'book' index}}detalles{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}
